.contactContainer {
    margin: 1rem;
}

.innerContainer {
    display: flex;
    justify-content: space-evenly;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    padding: 0.25rem;
}

#inquiry {
    height: 200px;
    width: 500px;
}
